// = WikimediaUI base v0.15.0 excerpt
// Background Colors
@background-color-base: #fff;

// Foreground Colors
@color-base: #202122;
@color-base--active: #000;
@color-base--emphasized: @color-base--active;
@color-base--inverted: #fff;
// Primary 'Progressive' Color, Background Color
@background-color-primary: #eaf3ff;
@color-primary: #36c;
// 'Destructive' Color
@color-destructive: #d33;

// Border
// Border Colors
@border-color-heading: #c8ccd1;
// Border Radius
@border-radius-base: 2px;

// = Echo's original variables
@grey-light: #72777d;
@grey-medium: #54595d;

@badge-padding: 0.12em;
@badge-icon-size: 1.1em;
@badge-distance-adjustment: 1em;

@notification-item-background-read: #eaecf0;

@notification-background-unseen: #dce8ff;
@notification-background-unread: @background-color-base;
@notification-background-read: #eaecf0;

@badge-counter-background-seen: @grey-light;
@badge-counter-background-unseen-alert: @color-destructive;
@badge-counter-background-unseen-message: @color-primary;

@notification-text-color: @color-base--emphasized;
@notification-body-color: @grey-light;

@bundle-group-padding: 0.7em;
@notification-popup-width: 500px;

@opacity-low: 0.6;
@opacity-mid: 0.8;

@specialpage-separation-unit: 0.7em;
@specialpage-sidebar-width: 20em;

@specialpage-hd-width: 982px;

@specialpage-width: 1000px;

@background-color-popup-confirmation: #202122;

@border-color: @border-color-heading;
