/*!
 * VisualEditor MediaWiki theme customizations.
 *
 * @copyright 2011-2020 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.MWSaveDialog summary */

.ve-ui-mwSaveDialog-withOptions .ve-ui-mwSaveDialog-summary .oo-ui-inputWidget-input {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.ve-ui-mwSaveDialog-options {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.ve-ui-mwTransclusionDialog-addParameterFieldset .ve-ui-mwParameterSearchWidget {
	border-radius: 2px;
	border: 1px solid #a2a9b1;
}

/* Ace editor widget */

/* stylelint-disable-next-line selector-class-pattern */
.ve-ui-mwAceEditorWidget-readOnly .ace_editor {
	background: #f3f3f3;
}
