.simplecaptcha-field .oo-ui-fieldLayout-header {
	/* stylelint-disable declaration-no-important */
	width: auto !important;
	padding-right: 1em !important;
	/* stylelint-enable declaration-no-important */
}

.simplecaptcha-answer.oo-ui-textInputWidget {
	width: 5em;
}
