<fieldset>
	<div class="wikieditor-toolbar-field-wrapper">
		<label for="wikieditor-toolbar-link-int-target" rel="wikieditor-toolbar-tool-link-int-target" id="wikieditor-toolbar-tool-link-int-target-label"></label>
		<div id="wikieditor-toolbar-link-int-target-status"></div>
		<input type="text" id="wikieditor-toolbar-link-int-target"/>
	</div>
	<div class="wikieditor-toolbar-field-wrapper">
		<label for="wikieditor-toolbar-link-int-text" rel="wikieditor-toolbar-tool-link-int-text"></label>
		<input type="text" id="wikieditor-toolbar-link-int-text"/>
	</div>
	<div class="wikieditor-toolbar-field-wrapper">
		<div class="wikieditor-toolbar-floated-field-wrapper">
			<input type="radio" id="wikieditor-toolbar-link-type-int" name="wikieditor-toolbar-link-type" selected/>
			<label for="wikieditor-toolbar-link-type-int" rel="wikieditor-toolbar-tool-link-int"></label>
		</div>
		<div class="wikieditor-toolbar-floated-field-wrapper">
			<input type="radio" id="wikieditor-toolbar-link-type-ext" name="wikieditor-toolbar-link-type"/>
			<label for="wikieditor-toolbar-link-type-ext" rel="wikieditor-toolbar-tool-link-ext"></label>
		</div>
	</div>
</fieldset>
