<fieldset>
	<div class="wikieditor-toolbar-field-wrapper">
		<label for="wikieditor-toolbar-file-target" rel="wikieditor-toolbar-file-target" id="wikieditor-toolbar-tool-file-target-label"></label>
		<input type="text" id="wikieditor-toolbar-file-target"/>
	</div>
	<div class="wikieditor-toolbar-field-wrapper">
		<label for="wikieditor-toolbar-file-caption" rel="wikieditor-toolbar-file-caption"></label>
		<input type="text" id="wikieditor-toolbar-file-caption"/>
	</div>
	<div class="wikieditor-toolbar-file-options">
		<div class="wikieditor-toolbar-field-wrapper">
			<label for="wikieditor-toolbar-file-size" rel="wikieditor-toolbar-file-size"></label><br/>
			<input type="text" id="wikieditor-toolbar-file-size" size="5"/>
		</div>
		<div class="wikieditor-toolbar-field-wrapper">
			<label for="wikieditor-toolbar-file-float" rel="wikieditor-toolbar-file-float"></label><br/>
			<select type="text" id="wikieditor-toolbar-file-float">
			<option value="default" selected="selected" rel="wikieditor-toolbar-file-default"></option>
			<option data-i18n-magic="img_none"></option>
			<option data-i18n-magic="img_center"></option>
			<option data-i18n-magic="img_left"></option>
			<option data-i18n-magic="img_right"></option>
			</select>
		</div>
		<div class="wikieditor-toolbar-field-wrapper">
			<label for="wikieditor-toolbar-file-format" rel="wikieditor-toolbar-file-format"></label><br/>
			<select type="text" id="wikieditor-toolbar-file-format">
			<option selected="selected" data-i18n-magic="img_thumbnail">thumb</option>
			<option data-i18n-magic="img_framed"></option>
			<option data-i18n-magic="img_frameless"></option>
			<option value="default" rel="wikieditor-toolbar-file-format-none"></option>
			</select>
		</div>
	</div>
</fieldset>
