@import 'mediawiki.ui/variables';

@colorHighlight: #00af89;
@colorHighlightNewer: #0645ad;

// Used in mixins to darken contextual colors by the same amount (eg. focus)
@colorDarkenPercentage: 13.5%;
// Used in mixins to lighten contextual colors by the same amount (eg. hover)
@colorLightenPercentage: 13.5%;
