@topicIndent: 1em;
@replyIndent: 1.5em;
// @todo This value is specific to MW theme, it is different in Apex.
// Actual toolbar height is 40px, adds an extra pixel to leave room for focus inset
@editorToolbarHeight: 41px;
@editorMinHeight: 140px;

// @todo: Use same variable as MobileFrontend

@small: 768px;
@medium: 1165px;
@large: 1200px;
@xlarge: 2000px;
