@import '../mmv.globals';
@import '../mmv.mixins';
@import 'mediawiki.mixins.animation';

.mw-mmv-post-image {
	.animation( mw-mmv-appear-animation 0.5s ease 0s 1 normal forwards );
	transition: box-shadow 0.25s;

	&.invite {
		.animation( mw-mmv-invite-animation 0.9s ease 0.2s 1 normal forwards );
	}

	.jq-fullscreened & {
		.animation( none );
	}

	&.mw-mmv-untruncated,
	.jq-fullscreened & {
		box-shadow: 0 -4px 0 rgba( 0, 0, 0, 0.2 );
	}
}

.mw-mmv-appear-animation() {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes mw-mmv-appear-animation {
	.mw-mmv-appear-animation;
}

@-moz-keyframes mw-mmv-appear-animation {
	.mw-mmv-appear-animation;
}

@keyframes mw-mmv-appear-animation {
	.mw-mmv-appear-animation;
}

.mw-mmv-invite-animation() {
	0% {
		margin-top: 0;
	}
	30% {
		margin-top: -15px;
	}
	85% {
		margin-top: 0;
	}
}

@-webkit-keyframes mw-mmv-invite-animation {
	.mw-mmv-invite-animation;
}

@-moz-keyframes mw-mmv-invite-animation {
	.mw-mmv-invite-animation;
}

@keyframes mw-mmv-invite-animation {
	.mw-mmv-invite-animation;
}
