<div class="flow-board-header flow-load-interactive" data-flow-load-handler="loadSideRail">
	{{> flow_header_title}}
	{{> flow_header_edit_restrictions}}
	{{> flow_errors}}
	{{> flow_header_detail}}
	{{> flow_header_categories}}
	{{> flow_header_footer}}
</div>
