<div class="flow-notification-tooltip-icon"><span class="mw-ui-icon mw-ui-icon-element mw-ui-icon-unStar"></span></div>
<p class="flow-notification-tooltip-title">
	<strong>
		{{!-- flow-topic-notification-subscribe-title and flow-board-notification-subscribe-title --}}
		{{l10n (concat "flow-" type "-notification-subscribe-title") user }}
	</strong>
</p>
<p class="flow-notification-tooltip-content">
	{{!-- flow-topic-notification-subscribe-description and flow-board-notification-subscribe-description --}}
	{{l10n (concat "flow-" type "-notification-subscribe-description") user }}
</p>
