{{{ oouify
	revision.content.content
	revision.actions.edit.url
	revision.actions.edit.title
	type="BoardDescriptionWidget"
	name="flow-board-description"
}}}
<a href="javascript:void(0);" role="button"
	class="mw-ui-button mw-ui-quiet side-rail-toggle-button"
	data-flow-interactive-handler="toggleSideRail">
	<span class="mw-ui-icon mw-ui-icon-before mw-ui-icon-only mw-ui-icon-close pull-right collapse-button"
		  title="{{l10n "flow-board-collapse-description"}}"></span>
	<span class="mw-ui-icon mw-ui-icon-before mw-ui-icon-only mw-ui-icon-speechBubbles pull-right expand-button"
		  title="{{l10n "flow-board-expand-description"}}"></span>
</a>
