{{#if links.board-sort}}
<div class="flow-board-navigation" data-flow-load-handler="boardNavigation">
	<div class="flow-error-container">
		{{!-- placeholder for javascript injected errors --}}
	</div>
	{{!-- Placeholder for the OOUI widget. This does not require an OOUI
	widget in PHP because the board navigation doesn't work in noJS mode
	as it is. --}}
</div>
{{/if}}
