{{~#if revision.rev_view_links.markPatrolled~}}
    <div class="patrollink" data-mw="interface">
        [<a class="mw-ui-quiet"
           href="{{revision.rev_view_links.markPatrolled.url}}"
           title="{{l10n 'flow-mark-revision-patrolled-link-title'}}"
           data-role="patrol">
            {{~l10n 'flow-mark-revision-patrolled-link-text'~}}
        </a>]
    </div>
    {{enablePatrollingLink}}
{{~/if~}}
