<span class="mw-ui-icon mw-ui-icon-before
	{{~#ifCond moderateState "===" "lock"}} mw-ui-icon-check{{/ifCond~}}
	{{~#ifCond moderateState "===" "hide"}} mw-ui-icon-flag{{/ifCond~}}
	{{~#ifCond moderateState "===" "delete"}} mw-ui-icon-trash{{/ifCond~}}"></span>
