<footer id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
    {{#data-footer}}
    {{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
    {{!}}<div id="footer-list">
    {{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
    {{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
    {{!}}</div>
    {{/data-footer}}
</footer>
