<div class="b-dropdown b-user-menu">
    <div class="b-dropdown-toggle"></div>
    <div class="b-dropdown-content">
        {{#data-portlets.data-user-menu}}{{>Portlet}}{{/data-portlets.data-user-menu}}
    </div>
</div>
