.mw-specialCiteThisPage-bibliographic {
	background-color: #eaecf0;
	width: 85%;
	padding: 1px 15px 15px 15px;
	margin: 45px 30px 15px 0;
}

.mw-specialCiteThisPage-styles {
	width: 85%;
	padding: 10px;
	margin: 15px 30px 0 0;
}
