:target .mw-cite-targeted-backlink {
	font-weight: bold;
}

.mw-cite-up-arrow-backlink {
	display: none;
}

:target .mw-cite-up-arrow-backlink {
	display: inline;
}

:target .mw-cite-up-arrow {
	display: none;
}
