@import 'mediawiki.mixins';
@import '../flow.colors';
@import '../flow.variables';

// Top board navigation bar
.flow-board-navigation {
	height: 2.55em;
	margin-bottom: 0.5em;
	position: static;
	padding: 0;
	white-space: nowrap;
	min-width: 14em;
	clear: both;

	.flow-board-navigation-inner {
		overflow: hidden;
		border-bottom: 1px solid @colorGray12;
		white-space: nowrap;
	}

	.flow-board-navigator-filter {
		display: inline-block;
		position: relative;
	}

	a {
		display: inline-block;

		&:link,
		&:visited {
			padding: 0.25em 0.75em;
			color: @colorTextLight;
		}

		&:hover,
		&:focus,
		&.flow-board-navigator-link-highlight {
			color: #000;
			text-decoration: none;
		}

		&.flow-board-navigator-right {
			float: right;
		}

		// The active menu item
		&.flow-board-navigator-active {
			font-weight: bold;
		}

		// We need these because CSSJanus will flip it in rtl
		&.flow-board-navigator-first {
			float: left;
			position: static;
			padding-left: 0;
		}

		&.flow-board-navigator-last {
			float: right;
			position: static;
			padding-right: 0;

			span {
				display: inline-block;
			}
		}
	}

	// Added by JS when the window has been scrolled beyond the navigation, so it sticks to the viewport
	&.flow-board-navigation-affixed {
		background: @background-color-base;
		position: fixed;
		z-index: 2;
		top: 0;
		width: 100%;

		.flow-board-toc-menu {
			.flow-list {
				// em version can probably be dropped when we drop IE 8
				max-height: 30.6em;
				max-height: 85vh;
			}
		}

		.flow-board-navigation-inner {
			& > a {
				display: none; // hide everything but the current topic title
			}

			& > a.flow-board-navigator-active {
				// Clip the topic title
				display: block;
				.text-overflow( @visible: false );
			}
		}
	}
}

// Filter & TOC menu below navigation bar
.flow-board-header-menu {
	position: relative;
	float: right;
	width: 100%;
	font-size: 0.875em;

	// Make TOC wide
	.flow-board-toc-menu {
		width: 100%;
		position: absolute;

		.flow-list {
			overflow-y: auto;
			// em version can probably be dropped when we drop IE 8
			max-height: 18em;
			max-height: 50vh;
		}

		a {
			display: block;
			text-align: left;
			padding-left: 0;
			padding-right: 0;
			.text-overflow( @visible: false );

			&.active {
				font-weight: bold;
			}
		}
	}
}

// MEDIA QUERIES
@media all and ( min-width: @small ) {
	html .flow-board-navigation {
		font-size: 1.15em;
		margin-top: 0.5em;

		.oo-ui-iconElement-icon {
			font-size: 1 / 1.15em;
		}
	}
}
