@import 'mediawiki.mixins';
@import '../flow.colors';
@import '../flow.variables';

// @todo: Give more generic name
// TOU should be tiny and grey
.flow-terms-of-use {
	display: block;
	clear: both;
	height: 3.6em;
	vertical-align: middle;
	color: @colorTextLight;
	font-size: 0.75em;
	line-height: 1.4;
	// These two will flip in RTL interface
	text-align: left;
	direction: ltr;
}

@media all and ( min-width: @small ) {
	.flow-terms-of-use {
		clear: none;
	}
}
