<div id="{{{id}}}" class="b-dropdown b-navigation {{{class}}}">
    <div class="b-dropdown-toggle">
        <div class="b-navigation-label">{{{label}}}</div>
    </div>
    <div class="b-dropdown-content">
        {{>Portlet}}
    </div>
</div>
