{{#data-search-box}}
<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
    <input type="hidden" name="title" value="{{page-title}}">
    <h3>
        <label for="searchInput">{{msg-search}}</label>
    </h3>
    {{{html-input}}}
    {{{html-button-search}}}
</form>
{{/data-search-box}}