@import '../echo.variables.less';

.mw-echo-alert {
	background-color: #fc3;
	color: @color-base--emphasized;
	border-radius: @border-radius-base;
	padding: 0.25em 0.8em 0.2em 0.8em;
	font-weight: normal;
}
