@import '../../variables.less';

// FIXME: Is specific `.mw-body` even needed? Does `.mw-indicators` exist outside?
.mw-body {
	.mw-indicators {
		font-size: @font-size-base;
		line-height: @line-height-base;
		position: relative;
	}

	.mw-indicator {
		display: inline-block;
	}
}
