@import 'mediawiki.mixins.less';
@import 'mediawiki.ui/variables.less';
@import '../../variables.less';

/* Search */
#p-search {
	float: left;
	margin-right: 0.5em;
	margin-left: 0.5em;

	h3 {
		.mixin-screen-reader-text;
	}

	form {
		margin: 0.5em 0 0;
	}
}

// Defined as `div`.
// Provide extra element for gadgets due to `form` already carrying an `id`.
#simpleSearch {
	position: relative;
	min-width: 5em;
	// Support: IE 8, Firefox 18-, Chrome 19-, Safari 5.1-, Opera 19-, Android 4.4.4-.
	width: 13.2em;
	// Support: Modern browsers, responsive width.
	width: 20vw;
	max-width: 20em;
	height: 100%;

	// Styles for both the search input and the button.
	input {
		margin: 0;
	}
}

// The search input.
#searchInput {
	// Support IE6-8: Fallback for browsers, which don't support `rgba()`.
	background-color: @background-color-base;
	background-color: rgba( 255, 255, 255, 0.5 );
	color: @color-base--emphasized;
	width: 100%;
	.box-sizing( border-box );
	border: @border-base;
	border-radius: @border-radius-base;
	// `padding-right` equals to `#searchbutton` width below.
	padding: 0.4em @width-search-button 0.4em 0.4em;
	.box-shadow( @boxShadowWidget );
	font-size: @font-size-search-input;
	direction: ltr;
	.transition( ~'border-color 250ms, box-shadow 250ms' );

	// Undo the proprietary styles, we provide our own.
	// Support: Safari/iOS `none` needed, Chrome would accept `textfield` as well. See T247299.
	-webkit-appearance: none;
	// Support: Firefox.
	-moz-appearance: textfield;

	#simpleSearch:hover & {
		border-color: @colorGray7;
	}

	&:focus,
	#simpleSearch:hover &:focus {
		outline: 0;
		border-color: @colorProgressive;
		.box-shadow( @boxShadowProgressiveFocus );
	}

	.mixin-placeholder( {
		color: @colorGray7;
		opacity: 1;
	} );

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

// The buttons. They are displayed in the same position, and if both are
// present the fulltext search one obscures the 'Go' one.
#searchButton,
#mw-searchButton {
	background-color: transparent;
	position: absolute;
	top: @border-width-base;
	bottom: @border-width-base;
	// `@border-width-base * 2` is in regards to harmonize position start and end.
	right: @border-width-base;
	min-width: 24px;
	width: @width-search-button;
	border: 0;
	padding: 0;
	cursor: pointer;
	// Equal `font-size` to search input for `padding` calculationo.
	font-size: @font-size-search-input;
	/* Opera 12 on RTL flips the text in a funny way without this. */
	/* @noflip */
	direction: ltr;
	/* Hide button text and replace it with the image. */
	text-indent: -99999px;
	white-space: nowrap;
	overflow: hidden;
	z-index: @z-index-search-button;
}

#searchButton {
	.background-image-svg( 'images/search.svg', 'images/search.png' );
	background-position: center center;
	background-repeat: no-repeat;
}
