Benny Situ <bsitu@wikimedia.org>
Erik Bernhardson <ebernhardson@wikimedia.org>
Jon Robson <jrobson@wikimedia.org>
Jon Robson <jrobson@wikimedia.org> <jdlrobson@gmail.com>
Luke Welling <lwelling@wikimedia.org>
Kunal Mehta <legoktm@gmail.com>
Kunal Mehta <legoktm@gmail.com> <legoktm@member.fsf.org>
Kunal Mehta <legoktm@gmail.com> <legoktm.wikpedia@gmail.com>
Max Semenik <maxsem.wiki@gmail.com>
Niklas Laxström <niklas.laxstrom@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com> <catrope@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com> <roan@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org>
Ryan Kaldari <rkaldari@wikimedia.org> <kaldari@gmail.com>
Terry Chay <tchay@wikimedia.org>
