.ve-init-mw-tempWikitextEditorWidget {
	border: 0;
	padding: 0;
	color: inherit;
	line-height: 1.5em;
	width: 100%;
	-moz-tab-size: 4;
	tab-size: 4;

	&:focus {
		outline: 0;
		padding: 0;
	}

	/* Mimics ve-ce-attachedRootNode */
	&::selection {
		background: rgba( 109, 169, 247, 0.5 ); /* #6da9f7 */
	}
}
