@import 'mediawiki.mixins';
@import '../../flow.colors';
@import '../../flow.variables';

// Topic metadata
.flow-topic-meta {
	color: @colorTextLight;
	// Prevent floated icon from pushing this away
	clear: both;
	// This should flip in regards to interface language
	direction: ltr;

	// This placement depends on content language
	.mw-content-ltr & {
		/* @noflip */
		text-align: left;
	}

	// This placement depends on content language
	.mw-content-rtl & {
		/* @noflip */
		text-align: right;
	}

	// This is not great. It doesn't work in IE8.
	// It's the only way I could find to change the link
	// color without affecting the hover style.
	// The :link selector changes all 4 link states
	// and requires that you redefine :hover.
	// I did know want to hard code the hover color
	// from the theme we're using.
	a.expand-collapse-posts-link:not( :hover ) {
		color: @colorTextLight;
	}
}
