@import 'mediawiki.mixins';
@import '../../flow.colors';
@import '../../flow.variables';

.flow-topic-summary-container {
	.flow-topic-summary,
	.flow-ui-editTopicSummaryWidget {
		border-top: 1px solid @colorGray12;
		margin-top: 0.5em;
		padding-top: 0.5em;

		.flow-topic-summary-author {
			font-weight: bold;
			color: @colorTextLight;
		}

		.flow-topic-summary-content {
			p {
				&:last-of-type {
					// Remove margin-bottom from last p in summary, to remove excess bottom whitespace
					margin-bottom: 0;
				}
			}
		}
	}
}
