@import '../echo.variables.less';

.mw-echo-ui-subGroupListWidget {
	&:not( :first-child ) {
		padding-top: @bundle-group-padding;
	}

	&-header {
		display: table;
		width: 100%;

		&-row {
			display: table-row;

			&-cell {
				display: table-cell;
			}

			&-title {
				width: 100%;
				vertical-align: bottom;
				white-space: nowrap;

				.oo-ui-labelElement-label {
					white-space: normal;
				}
			}

			&-markAllReadButton {
				text-align: right;
			}
		}
	}

	.mw-echo-ui-sortedListWidget {
		margin-bottom: @bundle-group-padding / 2;
	}
}
