.katex {
  font-size: 1.05em;
}

.btex-output {
  text-align: justify;
  hyphens: auto;

  p,
  .p,
  table.list {
    margin: 0 0 1em 0;
  }

  .block {
    padding: 1em 30px;
    margin: 0 -30px 1em -30px;
    background-color: #f0f1f3;
  }

  span.katex-display {
    margin: 0;
  }

  span.display-math {
    margin: 1em 0;
  }

  p:last-child,
  .p:last-child,
  table.list:last-child,
  p > span.display-math:last-child,
  .p > span.display-math:last-child {
    margin-bottom: 0;
  }

  .floatright {
    float: right;
  }

  table.list {
    width: 100%;

    tr.list-item:not(:last-child) > td {
      padding-bottom: 1em;
    }

    td {
      vertical-align: baseline;
    }

    td.list-item-label {
      width: 0.75em;
      max-width: 16em;
      overflow-x: clip;
      white-space: nowrap;
      text-align: right;
      padding-right: 0.5em;
    }

    &.subpage-list {
      tr.list-item:not(:last-child) > td {
        padding-bottom: 0;
      }

      td.list-item-label {
        display: none;
      }

      tr.list-item-indent-1 > td:last-child {
        padding-left: 1.5em;
      }

      tr.list-item-indent-2 > td:last-child {
        padding-left: 3em;
      }

      tr.list-item-indent-3 > td:last-child {
        padding-left: 4.5em;
      }
    }
  }

  span.display-math {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;

    span.katex-display {
      flex-grow: 1;
      overflow-x: auto;
      overflow-y: hidden;
    }

    span.equation-tag-left,
    span.equation-tag-right {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  .compiler-data {
    display: none;
  }
}
