.mw-mmv-share-pane {
	.mw-widget-copyTextLayout {
		margin-top: 0;
		margin-left: 2em;
	}
}

.mw-mmv-share-page-link {
	float: left;
	width: 1.5em;
	height: 2.3em;
	padding-right: 0.5em;
	/* @embed */
	background-image: url( img/link.svg );
	background-size: 1em;
	background-position: left center;
	background-repeat: no-repeat;

	&:hover {
		/* @embed */
		background-image: url( img/link-hover.svg );
		text-decoration: none;
	}
}
