/* Variables */
@background-color: #fffef0;
@color-gray-800: #302f27;
@color-gray-500: #7e7b61;
@color-gray-400: #9f9f90;
@color-gray-300: #b1b09d;
@color-gray-200: #eaecf0;
@color-gray-100: #f4f6f8;
@color-accent-500: #ffd000;
@color-accent-450: #ffe659;
@color-accent-400: #ffed84;
@color-accent-300: #fff1a3;
@color-accent-200: #fffad6;
@color-accent-150: #fffcdb;
@color-accent-100: #fffde9;
@color-secondary-300: #ffd880;
@color-secondary-100: #fffdf0;
@color-link: #1088c8;
@color-link-new: #80b700;
@color-link-theme: #dc6700;
@color-link--visited: #1088c8;
@font-family: 'Noto Sans',Roboto,-apple-system,BlinkMacSystemFont,'Segoe UI','Oxygen','Ubuntu','Cantarell','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei','Noto Sans CJK SC','Source Han Sans CN',sans-serif;
@font-family-mono: 'Cascadia Code','Consolas','Microsoft YaHei UI','Microsoft YaHei','Noto Sans CJK SC','Source Han Sans CN',sans-serif;

@font-face {
  font-family: 'Cascadia Code';
  src: url('/static/fonts/CascadiaCode.woff2') format('woff2'), url('/static/fonts/CascadiaCode.woff') format('woff');
}

@font-face {
  font-family: Lato_Bbb;
  src: url('/static/fonts/LatoBbb.woff2') format('woff2'), url('/static/fonts/LatoBbb.woff') format('woff');
}

@font-face {
  font-family: PunctCJK;
  src: url('/static/fonts/PunctCJK.woff2') format('woff2'), url('/static/fonts/PunctCJK.woff') format('woff');
  unicode-range: U+21-22, U+27-29, U+2C, U+2E, U+3A-3B, U+3F, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2218, U+25AA-25AB, U+3001-3002, U+3008-300F, U+FF64;
}

@font-face {
  font-family: PunctCJK;
  font-style: italic;
  src: url('/static/fonts/PunctCJK-Italic.woff2') format('woff2'), url('/static/fonts/PunctCJK-Italic.woff') format('woff');
  unicode-range: U+21-22, U+27-29, U+2C, U+2E, U+3A-3B, U+3F, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2218, U+25AA-25AB, U+3001-3002, U+3008-300F, U+FF64;
}

@font-face {
  font-family: PunctCJK;
  font-weight: bold;
  src: url('/static/fonts/PunctCJK-Bold.woff2') format('woff2'), url('/static/fonts/PunctCJK-Bold.woff') format('woff');
  unicode-range: U+21-22, U+27-29, U+2C, U+2E, U+3A-3B, U+3F, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2218, U+25AA-25AB, U+3001-3002, U+3008-300F, U+FF64;
}

@font-face {
  font-family: PunctCJK;
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/PunctCJK-BoldItalic.woff2') format('woff2'), url('/static/fonts/PunctCJK-BoldItalic.woff') format('woff');
  unicode-range: U+21-22, U+27-29, U+2C, U+2E, U+3A-3B, U+3F, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2218, U+25AA-25AB, U+3001-3002, U+3008-300F, U+FF64;
}

// TODO: @font-face for Cascadia Code

/* Styles */
html {
  margin: 0;
  padding: 0 0 20px;
}

body {
  margin: 0;
  font-family: @font-family;
  background-color: @background-color;

  > header,
  > main,
  > nav,
  > footer {
    padding: 1em;
  }

  &.action-edit {
    background-color: white;
  }
}

a {
  color: @color-link;

  &:visited {
    color: @color-link--visited;
  }
}

/** HEADER */

.b-nav-wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.b-nav {
  background-color: @color-accent-400;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 10px;

  > .b-nav-left,
  > .b-nav-right {
    display: flex;
    align-items: center;
  }

  > .b-nav-right {
    padding-right: 20px;
  }
}

#p-logo {
  height: 50px;
  width: 180px;
  margin-right: 15px;
  background-image: url("/static/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#p-search {
  width: 400px;

  #searchInput {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Ctitle%3Esearch%3C%2Ftitle%3E%3Cg%20fill%3D%22%2354595d%22%3E%3Cpath%20d%3D%22M7.5%2013a5.5%205.5%200%20100-11%205.5%205.5%200%20000%2011zm4.55.46A7.43%207.43%200%20017.5%2015a7.5%207.5%200%20115.96-2.95l6.49%206.49-1.41%201.41-6.49-6.49z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-color: @color-accent-100;
    background-size: 20px;
    -webkit-appearance: none;
    margin-top: 0;
    height: 36px;
    padding: 7px 0 7px 32px;
    border: 0;
    outline: 0;
    background-position: left 6px center;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 18px
  }

  #searchButton {
    .client-js & {
      display: none;
    }
  }

  h3 {
    display: none;
  }
}

.b-dropdown {
  background: transparent;

  > .b-dropdown-toggle {
    height: 100%;
    padding: 0 15px;
  }

  > .b-dropdown-content {
    display: none;
    position: absolute;
    top: calc(~"100% - 12px");
    transform: translateX(-20%);
    background: white;
    padding: 5px 0;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 10px;
    width: 200px;

    &.b-dropdown-showing {
      display: block;
    }
    
    li {
      display: block;
      width: 100%;
      background: white;

      &:hover {
        background: @color-accent-200;
      }

      a {
        display: block;
        padding: 5px 12px;
        width: 100%;
        height: 100%;
        color: @color-gray-500 !important;

        &, &:hover, &:focus {
          text-decoration: none;
          border: none;
        }
      }
    }
  }

  &:hover {
    > .b-dropdown-content {
      display: block;
    }
  }
}

.b-navigation {
  height: 55px;

  > .b-dropdown-toggle {
    > .b-navigation-label {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      cursor: default;
      border-bottom: 4px solid transparent;
    }
  }

  &:hover > .b-dropdown-toggle {
    background-color: @color-accent-300;
  }
}

.b-user-menu {
  margin-left: 10px;
  height: 55px;

  > .b-dropdown-toggle {
    padding: 0;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2235%22 height=%2235%22 viewBox=%22-5 -5 35 35%22%3E %3Ctitle%3E menu %3C/title%3E %3Cpath d=%22M12 11c-.965 0-1.75-.785-1.75-1.75S11.035 7.5 12 7.5s1.75.785 1.75 1.75S12.965 11 12 11m0-5.5a3.754 3.754 0 0 0-3.75 3.75A3.754 3.754 0 0 0 12 13a3.754 3.754 0 0 0 3.75-3.75A3.754 3.754 0 0 0 12 5.5m7.679 12.914c-1.987-2.104-4.727-3.289-7.679-3.289-2.953 0-5.692 1.185-7.679 3.289A9.955 9.955 0 0 1 2 12C2 6.486 6.486 2 12 2s10 4.486 10 10a9.956 9.956 0 0 1-2.321 6.414M12 22a9.995 9.995 0 0 1-6.25-2.187c1.613-1.719 3.844-2.688 6.25-2.688s4.637.969 6.249 2.688A9.993 9.993 0 0 1 12 22m0-22C5.383 0 0 5.383 0 12c0 3.268 1.294 6.33 3.651 8.63l.012.013A12 12 0 0 0 12 24h.036a12.008 12.008 0 0 0 8.306-3.363C22.701 18.341 24 15.273 24 12c0-6.617-5.383-12-12-12z%22/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  > .b-dropdown-content {
    transform: translateX(-80%);
  }
}

#p-notifications {
  background: transparent;

  a {
    width: 40px !important;
    height: 50px !important;
    top: 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2235%22 height=%2235%22 viewBox=%22-3 -7.5 35 35%22%3E %3Ctitle%3E menu %3C/title%3E %3Cpath d=%22M15 17a1 1 0 0 0-1 1c0 1.104-.897 2-2 2s-2-.896-2-2a1 1 0 1 0-2 0c0 2.205 1.794 4 4 4s4-1.795 4-4a1 1 0 0 0-1-1m-8.675-3l2.708-9.477A3.496 3.496 0 0 1 12.38 2c1.63 0 3.06 1.156 3.402 2.75L17.763 14H6.325zm11.411-9.668A5.507 5.507 0 0 0 12.38 0a5.505 5.505 0 0 0-5.27 3.975l-3.07 10.75A1 1 0 0 0 5 16h14a1 1 0 0 0 .977-1.209l-2.24-10.459z%22/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &::after {
      top: 5px !important;
      left: 50% !important;
      height: 20px;
      padding: 0 4px !important;
      border: none !important;
      min-width: 12px;
      text-align: center;
      border-radius: 10px !important;
      background-color: @color-accent-500 !important;
      color: black !important;
    }

    &:focus {
      box-shadow: none !important;
    }

    &.mw-echo-notifications-badge-dimmed {
      opacity: .4 !important;
      
      &, &::after {
        cursor: default !important;
      }
    }
  }
}

.mw-echo-ui-overlay {
  z-index: 4 !important;
}

.mw-echo-ui-notificationBadgeButtonPopupWidget-popup {
  .oo-ui-popupWidget-popup {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    top: -12px !important;

    .oo-ui-popupWidget-head {
      overflow: visible;
    }
  }

  .oo-ui-popupWidget-anchor {
    display: none !important
  }
}

// sidebar
.toggle-list__list {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  bottom: 0;
  background: white;
  z-index: 4;

  h3 {
    display: none;
  }

  a {
    display: block;
  }

  .mw-portlet-body li {
    display: block;
    padding: 8px;
  }
}

/** CONTENT */

.b-page-body {
  max-width: 1000px;
  width: calc(~"100% - 120px");
  margin: 0 auto 0 auto;
  padding: 100px 60px 60px 60px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.03);

  body.action-edit & {
    box-shadow: none;
  }
  
  .mw-parser-output:lang(zh) {
    font-family: PunctCJK, @font-family;
    letter-spacing: .015em;
    
    [lang]:not(:lang(zh)) {
      font-family: @font-family;
      letter-spacing: normal;
    }
  }
}

main {
  line-height: 1.8;
}

.content {
  &__header {
    position: relative;
  }

  &__heading {
    padding: 0 50px 0 0;
    margin: 0;
    border-bottom: 0;
  }

  &__indicators {
    position: absolute;
    top: 10px;
    right: 0;
  }

  &__tagline {
    color: @color-gray-500;
    font-size: 0.85em;
    margin-bottom: 12px;
    line-height: 20px;
  }

  &__actions {
    display: flex;
  }
}

.mw-portlet {
  position: relative;

  h3 {
    display: none;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  input[type=checkbox] {
    display: none;
  }
}

.mw-portlet-cactions {
  .mw-portlet-body {
    display: none;
    transform: translateX(-70%);
    top: calc(~"100% - 5px");
    width: 150px;
  }

  h3 {
    height: auto !important;
    padding: 0 !important;
    margin: 0;
    font-size: 100%;
    cursor: default;
  }
}

.mw-portlet-namespaces,
.mw-portlet-views {
  a {
    display: inline-block;

    &, &:visited, &:focus, &:hover {
      color: @color-link;
      text-decoration: none;
    }
  }

  li {
    margin: 0;
  }

  li.selected {
    a[href] {
      border-bottom: 3px solid @color-accent-500;
      color: @color-gray-800 !important;
    }
  }
  
  li:not(:last-child),
  &#p-views:not(:last-child) li {
    margin-right: 1.2em;
  
    &::after {
      position: relative;
      color: #c2c9d2;
      content: '|';
      left: .6em;
    }
  }
}

body.ns-102 .mw-portlet-namespaces ul {
  li#ca-talk {
    display: none;
  }

  li::after {
    display: none;
  }
}

.mw-portlet-cactions h3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  flex-basis: auto;
    font-weight: normal;
  color: @color-link;
  padding: 0;
}

.mw-portlet-cactions h3,
.mw-portlet-cactions li a,
.mw-portlet-views li a {
  color: @color-link;
  text-decoration: none;
}

/* CATEGORIES */
#catlinks {
  font-size: 0;
  border: none;
  background: none;
  margin: 40px 0 10px 0;
  padding: 0;

  .mw-normal-catlinks > a {
    display: none;
  }

  ul {
    margin: 0;
    font-size: 15px;
  }

  li {
    display: inline-block;
    border: 0;
  }

  a {
    padding: 7px 15px;
    margin-right: 5px;
    display: block;
    background-color: @color-accent-200;
    color: #dc6700;
    border-radius: 1em;
  }
}

/* FOOTER */

body > footer {
  padding: 50px 0 20px 0;
  text-align: center;
  color: @color-gray-300;

  a, a:visited {
    color: @color-gray-300;
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }
}

#footer-info-copyright {
  display: none;
}

/* The following rules will not be needed in future */
.mw-portlet ul {
  margin: 0;
}

.tright {
  float: right;
  clear: both;
}
.tleft {
  float: right;
  clear: both;
}

#ca-view {
  display: none;
}

/* checkbox hack */
.toggle-list__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.toggle-list__list {
  display: none;
}

.toggle-list__checkbox:checked ~ .toggle-list__list {
  display: block;
}

.toggle-list__checkbox ~ .toggle-list__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 3;
  visibility: hidden;
}

.toggle-list__checkbox:checked ~ .toggle-list__mask {
  visibility: visible;
  opacity: 1;
}

/* Icons */
.sidebar__icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  overflow: hidden;
  color: transparent;
  left: 20px;
  z-index: 3;

}
.sidebar__icon:before {
  content: '';
  width: 20px;
  display: block;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E %3Ctitle%3E menu %3C/title%3E %3Cpath d=%22M1 3v2h18V3zm0 8h18V9H1zm0 6h18v-2H1z%22/%3E %3C/svg%3E");
}

.toctogglelabel {
  color: inherit;
}

// Page content

.content__namespaces-actions {
  display: flex;
  justify-content: space-between;
  margin: -20px 0 20px 0;
  padding: 20px 0;
  font-size: .9em;
  position: relative;
  z-index: 1;
}

.content__actions {
  justify-content: flex-end;
}

.content__before-header {
  ul {
    color: @color-gray-300;
    font-size: .9em;
    background: @color-gray-100;
    padding: .6em 1em;
    margin: 0 0 1.2em 0;

    li {
      display: inline-block;
  
      &:not(:last-child) {
        margin-right: 2em;
      }

      &.link-to-preamble{
        display: none;
      
        body.action-edit & {
          display: inline-block;
        }
      }
    }
  }
}

@media screen {
  main {
    h1 {
      font-size: 2.2em;
    }
  }
}

@media print {
  .side-toc {
    display: none;
  }

  .toc {
    display: none;
  }
}

.side-toc-container {
  position: fixed;
  top: 40px;
  padding: 50px 0 60px 0;
  line-height: 1.6;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.side-toc {
  .toctitle {
    display: inline-block;
    color: black;
    border-bottom: 3px solid transparent;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-left: .6em;

    &.highlighted {
      border-bottom-color: @color-accent-500;
    }
  }

  ul {
    margin: 0;
    margin-bottom: 300px;

    li {
      list-style: none;
      margin-bottom: .2em;

      &.toclevel-2 a {
        padding-left: 2.25em;
      }

      &.toclevel-3 a {
        padding-left: 3.75em;
      }
  
      a {
        padding: 3px 2em 3px .75em;
        color: #e0a04e !important;
        display: block;

        .tocnumber {
          color: #c0c0b8;
          font-weight: bold;
        }
      }

      a.highlighted {
        color: #dc7400 !important;
        background-color: #ffa60020;
        border-radius: 20px 0 0 20px;

        .tocnumber {
          color: #dc7400;
        }
      }
    }
  }
}

.invisible {
  display: none !important;
}

.b-page-body {
  a[href]:not(.mw-ui-button):not(.oo-ui-buttonElement-button) {
    color: @color-link;

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }

    &.external {
      color: @color-link;
    }

    &:visited, &.external:visited {
      color: @color-link--visited;
    }

    &.external::after {
      background-image: url(/static/images/external-link.svg);
      background-size: .75em;
      width: .75em;
      height: .75em;
      margin-left: 4px;
      display: inline-block;
      content: '';
      background-repeat: no-repeat;
    }

    &.flow-timestamp-anchor,
    &.mw-ui-input {
      color: @color-gray-300 !important;
    }
  }

  .btex-output a[href]:not(.image) {
    line-height: 1.2;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;

    border-bottom-color: transparent;
  
    &:hover, &:focus {
      border-bottom-color: #1088c850;
    }
  }

  .flow-ui-anonWarningWidget-active a[href]:not(.mw-ui-button):not(.oo-ui-buttonElement-button) {
    color: #fff;
  }
  
  a[href].new {
    color: @color-link-new !important;
  
    &:hover, &:focus {
      border-bottom-color: #80b70050 !important;
    }
  }

  h2 {
    border: 0;
    padding: 10px 0;
    margin: 1.2em 0 .5em 0;
    font-size: 1.8em;

    span.header-number {
      margin-right: .75em;
      font-weight: bold;
      padding: 4px 6px;
      border-bottom: 4px solid @color-accent-500;
    }
  }

  h3:not(#p-cactions-label) {
    font-size: 1.4em;
    padding: 0;
    margin-top: 1.2em;
    margin-bottom: .6em;
    font-weight: bold;

    span.header-number {
      margin-right: 1em;
    }
  }

  h4 {
    font-size: 1.2em;
    padding: 0;
    margin-top: 1em;
    margin-bottom: .6em;

    span.header-number {
      margin-right: 1em;
    }
  }

  .toc {
    min-width: 10em;
    border: 0;
    padding: .7em 1.2em;
    line-height: 1.6;

    &:not(.ready) {
      display: none;
    }

    .toctitle {
      text-align: justify;
      font-size: 1.6em;
      margin-bottom: .8em;
    }
    
    ul {
      li.toclevel-2 {
        padding-left: 1.5em;
      }

      li.toclevel-3 {
        padding-left: 3em;
      }
    }
  }

  h1, h2, h3:not(#p-cactions-label), h4 {
    line-height: 1.4;
  }

  code, pre {
    font-family: @font-family-mono;
    border: none;
    background-color: @color-gray-100;
    line-height: 1.4;
    color: #666;
    font-size: 90%;
  }

  code {
    margin: 0 3px;
    white-space: pre-wrap;
  }

  pre {
    margin: 0;
    padding: .5em 1em;
    white-space: pre;
    overflow-x: auto;
  }

  .identifier {
    font-family: @font-family-mono;
    font-size: 90%;
  }

  .code-btex {
    font-variant-ligatures: none;
    .btex-function {
      color: #f87000;
    }
    .btex-argument {
      color: #30a0e0;
    }
    .btex-string {
      color: #70a000;
    }
    .btex-comment {
      color: #b0b0b0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a.image {
    display: inline-block;
    max-width: 100%;
  }

  table.list span.display-math {
    display: grid;
    grid-template-columns: max-content auto max-content;

    span.katex-display,
    svg {
      grid-column: 2;
    }

    span.equation-tag-left{
      grid-column: 1;
    }

    span.equation-tag-right {
      grid-column: 3;
    }
  }

  span.display-math svg {
    margin: 0 auto;
    max-width: 100%;
  }

  .warningbox {
    margin: 0 0 16px 0;
    border: 0;
    padding: 1em;
  }

  .editpage-copywarn {
    color: @color-gray-300;
  }

  textarea#wpTextbox1:not(.b-unhide) {
    opacity: 0;
  }
  
  .btex-monaco-container {
    height: 600px;
    margin: 0 -30px;
  
    .monaco-editor {
      font-family: @font-family;

      .line-dec-added {
        background: #b0e090;
        width: 4px !important;
        margin-left: 4px;
      }
      .line-dec-modified {
        background: #a0d9f0;
        width: 4px !important;
        margin-left: 4px;
      }
      .line-dec-removed {
        height: 0;
        border: 5px solid transparent;
        border-left: 5px solid #f7afb5;
        transform: translate(4px, -4px);
      }
    }
  }

  .editOptions {
    margin: 0 -30px 1em -30px;
    padding: 10px 30px 20px 30px;
    background: none;
    border: 0;
  }

  .mw-editfont-monospace  {
    font-family: @font-family-mono;

    &.oo-ui-textInputWidget > .oo-ui-inputWidget-input {
      font-size: 16px;
    }
  }

  .error-message, .warning-message {
    margin: 0 0 16px 0;
    padding: .6em 1em;
    font-size: 16px;
    font-family: @font-family-mono;
  }

  .error-message {
    background-color: #ffefef;
    color: #d00000;
  }

  .warning-message {
    background-color: #fff0e4;
    color: #d87300;
  }

  .error {
    font-size: 100%;
  }

  .mw-editTools,
  .templatesUsed,
  .hiddencats,
  .limitreport {
    display: none;
  }

  td.mw-enhanced-rc {
    font-family: @font-family-mono;
  }
}

.katex {
  font-size: 1.1em !important;
  letter-spacing: normal;

  .cjk_fallback:not(.sizing):not(.fontsize-ensurer) {
    font-size: 90.91%;
  }
}

.b-page-body .katex {
  font-family: KaTeX_Main, @font-family;
  font-weight: inherit;

  .mathbb, .textbb {
    font-family: Lato_Bbb, KaTeX_AMS;
  }
}

.mw-parser-output {
  text-align: justify;
  hyphens: auto;

  p,
  .p,
  table.list {
    margin: 0 0 1em 0;
  }

  .block, tr.list-item, h2, h3, h4 {
    transition: outline-color 600ms ease;
    outline-color: transparent;
    outline-offset: 5px;
  }

  .block {
    padding: .8em 1.2em;
    margin: 0 0 1em 0;
    background-color: #f4f6f8;
    border-color: #c0c4c8;
    border-left: 3px solid;
  }

  span.katex-display {
    margin: 0;
  }

  span.display-math {
    margin: 1em 0;
  }

  p:last-child,
  .p:last-child,
  table.list:last-child {
    margin-bottom: 0;
  }

  div.floatright {
    float: right;
    margin: 0;
  }

  table.list.footnotes {
    font-size: 75%;
  }

  p + table.list.list-no-sep-above {
    margin-top: -1em;
  }

  table.list {
    width: 100%;
    border-collapse: collapse;

    tr.list-item:not(:last-child) > td {
      padding-bottom: 1em;
    }

    tr.list-item.list-item-no-sep > td {
      padding-bottom: 0;
    }

    td {
      vertical-align: baseline;
    }

    td.list-item-label {
      width: 1.5em;
      max-width: 16em;
      overflow-x: clip;
      white-space: nowrap;
      text-align: right;
      padding-right: 0.75em;
      user-select: none;
      -webkit-user-select: none;
    }

    &.subpage-list {
      tr.list-item:not(:last-child) > td {
        padding-bottom: 0;
      }

      td.list-item-label {
        display: none;
      }

      tr.list-item-indent-1 > td:last-child {
        padding-left: 1.5em;
      }

      tr.list-item-indent-2 > td:last-child {
        padding-left: 3em;
      }

      tr.list-item-indent-3 > td:last-child {
        padding-left: 4.5em;
      }
    }
  }

  .table-wrapper {
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
  }

  span.display-math {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;

    &.tikz-in-math {
      align-items: center;
    }

    span.katex-display {
      flex-grow: 1;
      overflow-x: auto;
      overflow-y: hidden;
    }

    span.equation-tag-left,
    span.equation-tag-right {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  span.undefined-reference {
    font-weight: bold;
    color: #ff3000;
  }

  .block.style-a {
    background: #f4fcff;
    border-color: #a0e0ff;
    span.item-header {
      color: #1088c8;
    }

    a span.item-header {
      color: @color-link;
    }

    a.new span.item-header {
      color: @color-link-new;
    }
  }

  .block.style-b {
    background: #fffdf0;
    border-color: #ffd880;
    span.item-header {
      color: #dc6700;
    }

    a span.item-header {
      color: @color-link;
    }

    a.new span.item-header {
      color: @color-link-new;
    }
  }

  .block.style-c {
    background: #f2faf2;
    border-color: #a0e0a0;
    span.item-header {
      color: #209020;
    }

    a span.item-header {
      color: @color-link;
    }

    a.new span.item-header {
      color: @color-link-new;
    }
  }

  .block.quotation {
    color: #606468;
    border-color: #c0c4c8;
  }

  .proof, .proof-collapsible {
    margin: 0 0 1em 0;
    overflow: hidden; /* Fixes qed position */
  }

  .proof-collapsible {
    .proof-expander {
      position: absolute;
      cursor: pointer;
      margin-left: -20px;
    }

    .proof-expander.proof-expander-ellipsis {
      position: relative;
      top: -.1em;
      display: inline-flex;
      overflow-y: hidden;
      align-items: center;
      margin: 0 .5em;
      padding: 0 .6em;
      background-color: #f0f2f6;
      color: #a2a9b1;
      border-radius: .6em;
      height: 1em;
      user-select: none;
      -webkit-user-select: none;
    }
  }

  .proof-collapsible.proof-collapsible-collapsed {
    > .proof-content, > .proof-expander-collapsing {
      display: none;
    }
  }

  .proof-collapsible.proof-collapsible-expanded {
    > .proof-header, > .proof-expander-expanding {
      display: none;
    }
  }
}

#p-personal a.new {
  color: @color-gray-500 !important;
  opacity: .5;
}

// Flow board

.flow-board-page {
  .flow-board-header,
  .flow-board-navigation,
  .flow-board {
    max-width: 1000px !important;
  }
}

.flow-topic-page .flow-board {
  max-width: 1000px !important;
}

.flow-topic-titlebar {
  margin: 0;
  padding: .8em 1 0px;
  background-color: #f8f9fa;

  .flow-menu {
    top: 3em;
    right: 30px;
  }

  .flow-topic-title {
    font-weight: normal;
  }
}

// COMMUTATIVE DIAGRAMS

span.btex-diagram {
  display: inline-block;

  span.cell, span.label {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    align-items: center;
    justify-content: center;
  }

  .katex {
    font-size: 1em !important;

    span.rlap {
      user-select: none;
    }
  }
}

// OOUI

.mw-ui-button,
.b-page-body :not(.oo-ui-iconElement):not(.oo-ui-indicatorElement):not(.oo-ui-buttonElement-frameless) > .oo-ui-buttonElement-button {
  border: 0 !important;
  box-shadow: 0 5px @color-accent-300 !important;
  outline: 0 !important;
  background-color: @color-accent-150 !important;
  font-weight: normal !important;
  border-radius: 12px !important;
  padding: 6px 1em !important;
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  line-height: 1.6 !important;
  color: @color-link-theme;

  &:hover {
    background-color: @color-accent-100 !important;
  }
}

.oo-ui-buttonElement-frameless:not(.oo-ui-iconElement):not(.oo-ui-indicatorElement) > .oo-ui-buttonElement-button {
  border: 0 !important;
  outline: 0 !important;
  background: none !important;
  padding: 6px .5em !important;
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  font-weight: normal !important;
  line-height: 1.6 !important;
  color: @color-link;

  &:hover {
    background: none !important;
  }
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: @color-link !important;

  &:hover {
    color: @color-link !important;
    background-color: #1088c810 !important;
  }
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button

.oo-ui-image-progressive.oo-ui-icon-edit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Eedit%3C/title%3E%3Cg fill=%22%231088c8%22%3E%3Cpath d=%22M16.77 8l1.94-2a1 1 0 000-1.41l-3.34-3.3a1 1 0 00-1.41 0L12 3.23zM1 14.25V19h4.75l9.96-9.96-4.75-4.75z%22/%3E%3C/g%3E%3C/svg%3E");
}

.oo-ui-image-progressive.oo-ui-icon-reload {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Ereload%3C/title%3E%3Cg fill=%22%231088c8%22%3E%3Cpath d=%22M15.65 4.35A8 8 0 1017.4 13h-2.22a6 6 0 11-1-7.22L11 9h7V2z%22/%3E%3C/g%3E%3C/svg%3E") !important;
}

.flow-menu li a.mw-ui-button {
  background: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

&.mw-ui-primary,
.b-page-body .oo-ui-widget-enabled.oo-ui-flaggedElement-primary:not(.oo-ui-iconElement):not(.oo-ui-indicatorElement):not(.oo-ui-buttonElement-frameless) > .oo-ui-buttonElement-button {
  background-color: @color-accent-450 !important;
  color: @color-gray-800 !important;
  box-shadow: 0 5px @color-accent-500 !important;

  &:hover {
    background-color: @color-accent-400 !important;
  }
}

.b-page-body .oo-ui-widget-disabled:not(.oo-ui-iconElement):not(.oo-ui-indicatorElement):not(.oo-ui-buttonElement-frameless) > .oo-ui-buttonElement-button {
  background-color: @color-gray-200 !important;
  box-shadow: 0 5px @color-gray-300 !important;
  color: @color-gray-500;

  &:hover {
    background-color: @color-gray-200 !important;
  }
}

.flow-ui-newTopicWidget-title.oo-ui-textInputWidget input,
input.mw-ui-input-large {
  font-size: 1.2em !important;
  font-weight: normal !important;
  font-family: @font-family-mono !important;
}

// Change list page

.mw-changeslist table.mw-enhanced-rc {
  margin-left: .5em !important;

  td {
    padding: 0 0 .5em 0 !important;
  }
}

.mw-changeslist h4 {
  padding: .5em 0;
}

// Login page

body.mw-special-Userlogin {
  h1 {
    padding: 0;
    padding-bottom: 10px;
    text-align: center;

    &::after {
      position: absolute;
      display: block;
      width: 70px;
      height: 0;
      content: '';
      left: 50%;
      top: 100%;
      transform: translate(-35px, -32px);
      border-bottom: 6px solid @color-accent-500;
    }
  }

  #userloginForm form {
    margin: 0 auto;

    input:not([type]), input[type='text'], input[type='password'] {
      background-color: @color-gray-200;
      -webkit-appearance: none;
      padding: 7px 12px;
      border: 0;
      outline: 0;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }

    #mw-createaccount-cta {
      width: 100%;
      background: none;
      padding-top: 1em;
    }

    #mw-createaccount-join {
      color: @color-link-theme;
    }
  }
}

// Side-by-side editor

@media screen and (min-width: 1200px) {
  body.action-edit {
    form#editform {
      position: fixed;
      width: calc(~"50% - 20px");
      height: calc(~"100% - 70px");
      top: 0;
      left: 20px;
      display: flex;
      flex-direction: column;
      padding-top: 70px;
  
      #btex-monaco-container, textarea {
        flex-grow: 1;
        margin: 0;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
      }

      .editOptions {
        margin: 0 -20px;
        background: none;
        flex-shrink: 0;
      }
    }
  
    // Read-only editor
    #mw-content-text > #btex-monaco-container, 
    #mw-content-text > textarea {
      position: fixed;
      width: calc(~"50% - 20px");
      height: calc(~"100% - 90px");
      top: 70px;
      left: 50px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    .b-page-body {
      width: calc(~"50% - 100px");
      min-height: calc(~"100vh - 300px");
      margin-left: calc(~"50% + 20px");
      padding: 90px 30px 30px 30px;
    }

    footer#footer {
      margin-left: calc(~"50% + 20px");
      margin-right: 20px;
    }
  }
}

#wikiPreview span.preview-hint {
  font-size: 1.4em;
  text-align: center;
  color: #b8c4c8;
  display: block;
  margin: 3em auto;
}

@media screen and (max-width: 1000px) {
  #p-search {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .b-page-body {
    width: calc(~"100% - 60px");
    padding: 90px 30px 50px 30px;
  }
}

#p-search-link {
  display: none;
}

.suggestions {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

  .suggestions-results {
    border: none;
  }

  .suggestions-special {
    border: none;
    border-top: 1px solid @color-gray-200;
  }

  a.mw-searchSuggest-link {
    .suggestions-result, .suggestions-special {
      padding: 3px 10px;
      color: @color-gray-800;
    }

    .suggestions-result-current {
      background-color: @color-accent-200;
      color: @color-gray-800;

      .special-label, .special-query {
        color: @color-gray-800;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #p-logo {
    width: 150px;
    margin-right: 10px;
  }

  #p-search,
  #p-create {
    display: none;
  }

  .b-dropdown > .b-dropdown-toggle {
    padding: 0 10px;
  }

  .b-user-menu > .b-dropdown-toggle {
    padding: 0;
  }

  #p-search-link {
    display: block;
    padding: 0 10px;
    > a {
      color: black;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      font-size: 18px;
      border-bottom: 4px solid transparent;
    }
  }
  
  .nomobile {
    display: none;
  }
}

@media print {
  .b-nav-wrapper,
  #siteNotice,
  .content__before-header,
  .content__namespaces-actions,
  footer {
    display: none;
  }

  .b-page-body {
    box-shadow: none;
    padding: 0;
    font-size: 12px;
  }

  h1, h2, h3, h4 {
    font-weight: normal;
  }
  
  .nomobile {
    display: none;
  }
}
