@import 'mediawiki.mixins';
@import '../../flow.colors';
@import '../../flow.variables';

.flow-ui-replyWidget {
	margin-left: @topicIndent;
	margin-top: 1em;

	&-trigger-input {
		max-width: none;
	}
}
