.flow-ui-reorderTopicsWidget {
	&-button {
		margin-right: 0;
	}

	.skin-vector &,
	.skin-minerva & {
		&.oo-ui-indicatorElement.oo-ui-labelElement > .oo-ui-buttonElement-button {
			padding-right: 2em;

			> .oo-ui-indicatorElement-indicator {
				right: 0.5em;
			}
		}
	}
}
