/* stylelint-disable function-parentheses-space-inside */
/* stylelint-disable string-quotes */

.unselectable() {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

// from http://stackoverflow.com/a/12178019/323407
.fade-out-vertical( @backgroundColor: white ) {
	@invisible: fadeout( @backgroundColor, 100% );
	background-image: -moz-linear-gradient( top, @invisible 0%, @backgroundColor 100% ); // FF3.6+
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, @invisible ), color-stop( 100%, @backgroundColor ) ); // Chrome,Safari4+
	background-image: -webkit-linear-gradient( top, @invisible 0%, @backgroundColor 100% ); // Chrome10+,Safari5.1+
	background-image: linear-gradient( to bottom, @invisible 0%, @backgroundColor 100% ); // W3C
}

.fade-out-horizontal( @backgroundColor: white ) {
	@invisible: fadeout( @backgroundColor, 100% );
	background-image: -moz-linear-gradient( left, @invisible 0%, @backgroundColor 100% ); // FF3.6+
	background-image: -webkit-gradient( linear, left top, right top, color-stop( 0%, @invisible ), color-stop( 100%, @backgroundColor ) ); // Chrome,Safari4+
	background-image: -webkit-linear-gradient( left, @invisible 0%, @backgroundColor 100% ); // Chrome10+,Safari5.1+
	background-image: linear-gradient( to right, @invisible 0%, @backgroundColor 100% ); // W3C
}

.rotate( @degrees: 45deg ) {
	-webkit-transform: rotate( @degrees );
	-moz-transform: rotate( @degrees );
	transform: rotate( @degrees );
}

.grayscale() {
	-webkit-filter: grayscale( 100% );
	filter: grayscale( 100% );
}
