.flow-guidedtour-optin-firststep-description {
	padding-top: 1em;

	&-image {
		background: url( flow-icon.svg ) no-repeat;
		width: 5em;
		height: 5em;
		margin-left: auto;
		margin-right: auto;
	}
}
